
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCQdzkNwYVVT0aHSBLbvUuNqaNBRYkCpbU",
    authDomain: "apartment-fa38c.firebaseapp.com",
    databaseURL: "https://apartment-fa38c.firebaseio.com",
    storageBucket: "apartment-fa38c.appspot.com",
    messagingSenderId: "68132764283"
  };
  firebase.initializeApp(config);
  var database = firebase.database();
  var temp = 0;
  
</script>
