<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">
<link href="css/roomconsole.css" rel="stylesheet">

<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">แก้ไขบัญชีรายรับรายจ่ายประจำเดือน</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-12">
				<div class="panel panel-default">
						<div class="panel-heading">
								รายการบริการ
						</div>
						<!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>ชื่อบริการ</th>
                                            <th>ปุ่มคำสั่ง</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in qrylist %}
                                        <tr>
                                            <td align="center">{{loop.index}}</td>
                                            <td align="center">{{item.name}}</td>
                                            <td><center><button class="btn btn-danger" onclick="editservicrmonth('{{item.id}}')">ลบข้อมูล</button></center></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>

						<!-- /.panel-body -->

				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
</div>

<br>
