<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">
<link href="css/roomconsole.css" rel="stylesheet">

<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">บัญชีรายรับรายจ่ายประจำเดือน {{month}}</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-6 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bitcoin fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ qryin|sum(attribute='money') }}</div>
                        <div>รายรับ</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
	<div class="col-lg-6 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bitcoin fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ qryled|sum(attribute='money') }}</div>
                        <div>รายจ่าย</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
		<div class="col-lg-6">
				<div class="panel panel-default">
						<div class="panel-heading">
								รายจ่ายประจำเดือน
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
								<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
										<thead>
                                                <tr>
                                                        <th>#</th>
                                                        <th>ชื่อบริการ</th>
                                                        <th>จำนวนเงิน</th>
                                                </tr>
                                        </thead>
                                        <tbody>
                                                {% for i in qryled %}
                                                <tr align="center">
                                                    <td>{{loop.index}}</td>
                                                    <td>{{i.description}}</td>
                                                    <td>{{i.money}}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                        </tbody>
								</table>
								<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
        <div class="col-lg-6">
				<div class="panel panel-default">
						<div class="panel-heading">
								รายรับประจำเดือน
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
								<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example2">
										<thead>
                                                <tr>
                                                        <th>#</th>
                                                        <th>ชื่อบริการ</th>
                                                        <th>จำนวนเงิน</th>
                                                </tr>
                                        </thead>
                                        <tbody align="center">
                                                {% for i in qryin %}
                                                <tr >
                                                    <td>{{loop.index}}</td>
                                                    <td>{{i.description}}</td>
                                                    <td>{{i.money}}</td>
                                                </tr>
                                                {% endfor %}
                                                
                                        </tbody>
								</table>
								<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
		</div>
</div>
<div class="row">
		<div class="col-lg-12">

			{% if qryled|length != 0 %}
			<div class="panel panel-default">
					<div class="panel-heading">
							รายการประจำเดือน
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
										<thead>
												<tr>
														<th>#</th>
														<th>ชื่อบริการ</th>
														<th>จำนวนเงิน</th>
												</tr>
										</thead>
										<tbody>
												{% for item in qryled %}
												<tr>
														<td align="center">{{loop.index}}</td>
														<td align="center">{{item.description}}</td>
														<td align="center">{{item.money}}</td>
												</tr>
												{% endfor %}
												<tr>
														<td align="center" colspan = "2">รวมเป็นเงิน</td>
														<td align="center">{{ qryled|sum(attribute='money') }}</td>
												</tr>
										</tbody>
								</table>
						</div>
					</div>
					<!-- /.panel-body -->

			</div>
			{% else %}
			<button class="btn btn-info" data-toggle="modal" data-target="#newservicemonth">เพิ่มรายการรายจ่าย</button>
			<button class="btn btn-warning" onclick="mainconsole('accountmonthedit')">แก้ไขรายการรายจ่าย</button>
				<div class="panel panel-default">
						<div class="panel-heading">
								รายการบริการ
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
              <div class="col-lg-12">
                  <!--- insert loop here -->
									<form id = "formapart" >
                  {% for item in qrylist %}
                  <div class="col-lg-4" >
                      <div class="form-group">
                          <label>{{item.name}} ( บาท )</label>
                          <input class="form-control"  id="noroom" name="{{item.id}}"value="0">
                      </div>
                  </div>
                  {% endfor %}
									</form>


              </div>
              {% if qrylist|length != 0%}
              <button class="btn btn-success" onclick="paymentapartment()">บันทึกข้อมูล</button>
                              <!-- /.table-responsive -->
              {% else %}
              <button class="btn btn-success" disabled onclick="mond()">บันทึกข้อมูล</button>
              {% endif %}
						</div>
						<!-- /.panel-body -->

				</div>
				<!-- /.panel -->

		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="modal fade" id="newservicemonth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<center>
						<h4 class="modal-title" id="myModalLabel" >TEST</h4>
					</center>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<form id = "formnewservicemonth">
								<div class="col-lg-3"></div>
								<div class="col-lg-6">
									<div class="form-group">
										<label>ชื่อรายการ</label>
										<input class="form-control" id="servicename" name="servicename">
									</div>

								</div>
								<div class="col-lg-3"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
						<button type="button" class="btn btn-success" data-dismiss="modal" onclick="formnewservicemonth('new')">บันทึกข้อมูล</button>
				</div>

			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
<br>{% endif %}
