<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">

<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">ลูกค้า</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-12">
				<div class="panel panel-default">
						<div class="panel-heading">
								ลูกค้าในหอพัก
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
								<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
										<thead>
											<tr>
													<th>ยูสเซอร์เนม</th>
													<th>ห้อง</th>
													<th>ปุ่มควบคุม</th>
											</tr>
										</thead>
										<tbody>
											{% if qryuser != None %}
											{% for item in qryuser %}
												{% for room in qryroom %}
													{% if item.in_roomid == room.id %}
														<tr>
															<td align="center">{{item.users}}</td>
															<td align="center">{{room.numroom}}</td>
															<td align="center">
																<button class="btn btn-info" data-toggle="modal" data-target="#cus{{item.id}}">แก้ไข</button>
																<button class="btn btn-warning" data-toggle="modal" data-target="#mcus{{item.id}}">ย้ายห้อง</button>
																<button class="btn btn-success" data-toggle="modal" data-target="#moneycus{{item.id}}">เติมเงิน</button>
																<button class="btn btn-danger" onclick="actioncus('{{item.id}}','delete')">ลบผู้ใช้</button></td>
														</tr>
														{% break %}
													{% endif %}
												{% endfor %}
											{% endfor %}
											{% else %}
													<tr>
														<td>NO</td>
														<td>NO</td>
														<td>NO</td>
													</tr>
											{% endif %}
										</tbody>
								</table>
								<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
</div>
{% for customer in qryuser %}
<div class="modal fade" id="cus{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<center>
									<h4 class="modal-title" id="myModalLabel" >{{customer.users}}</h4>
								</center>
						</div>
						<div class="modal-body">
							<div class="row">
									<div class="col-lg-12">
												<form id = "idcus{{customer.id}}">
												<div class="col-lg-6">

														<div class="form-group">
															<label>ชื่อ</label>
															<input class="form-control" id="noroom" name="newfname"value="{{customer.fname}}">
														</div>
														<div class="form-group">
															<label>นามสกุล</label>
															<input class="form-control" id="noroom" name="newlname"value="{{customer.lname}}">
														</div>
														<div class="form-group">
															<label>ชื่อเล่น</label>
															<input class="form-control" id="floor" name="newnname" value="{{customer.nname}}">
														</div>


												</div>
												<div class="col-lg-6">

													<div >
														<label>ที่อยู่</label>
														<input class="form-control" id="floor" name="newadd" value="{{customer.address}}">
													</div>
														<div class="form-group">
															<label>เบอร์โทรศัพท์</label>
															<input class="form-control" id="floor" name="newtel" value="{{customer.tel}}">
														</div>
														<div class="form-group">
															<label>วันเกิด</label>
															<input class="form-control" id="floor" name="newdate" type="date" value="{{customer.birth.strftime('%Y-%m-%d')}}">
														</div>
												</div>
												</form>
									</div>
							</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal" >ปิด</button>
								<button type="button" class="btn btn-warning" data-dismiss="modal" onclick="actioncus('{{customer.id}}','repass')">รีเซ็ตรหัสผ่าน</button>
								<button type="button" class="btn btn-success" data-dismiss="modal" onclick="actioncus('{{customer.id}}','e')">บันทึกข้อมูล</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
{% endfor %}

{% for customer in qryuser %}
<div class="modal fade" id="mcus{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<center>
									<h4 class="modal-title" id="myModalLabel" >{{customer.users}}</h4>
								</center>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-lg-12">
											<form id = "movid{{customer.id}}">
											<div class="col-lg-6">
													<div class="form-group">
														<label>จากห้อง</label>
														{% for iitem in qryroom %}
															{% if iitem.id == customer.in_roomid %}
																<input class="form-control" id="noroom" name="a" value="{{iitem.numroom}}" disabled>
																<input hidden name="oldroom" value="{{iitem.id}}" >
																{% break %}
															{% endif %}
														{% endfor %}

													</div>
											</div>
											<div class="col-lg-6">

													<div class="form-group">
														<label>ไปห้อง</label>
														<select class="form-control" name="newroom">
															{% for iitem in qryroom %}
																{% if iitem.id != customer.in_roomid %}
																	{% if iitem.used < iitem.maxused %}
																<option value="{{iitem.id}}">
																	{{iitem.numroom}}
																</option>
																	{% endif %}
																{% endif %}
															{% endfor %}
														</select>
													</div>
													<input name="cusid" value="{{customer.id}}" hidden="">
													<input name="username" value="{{customer.users}}" hidden="">
												</form>
											</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal" >ปิด</button>
								{% if (qryroom|length)-1 == 0 %}
								<button type="button" class="btn btn-success disabled" data-dismiss="modal"  >บันทึกข้อมูล</button>
								{% else %}
								<button type="button" class="btn btn-success" data-dismiss="modal"  onclick="actioncus('{{customer.id}}','m')">บันทึกข้อมูล</button>
								{%endif%}
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
{% endfor %}

{% for customer in qryuser %}
<div class="modal fade" id="moneycus{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<center>
									<h4 class="modal-title" id="myModalLabel" >{{customer.users}}</h4>
								</center>
						</div>
						<div class="modal-body">
							<div class="row">
                <div class="col-lg-3"></div>
								<div class="col-lg-6">
											<form id = "moneyid{{customer.id}}">
											<div class="col-lg-12">
													<div class="form-group">
														<label>เติมเงิน</label>
																<input class="form-control" id="money" name="money">
													</div>
											</div>
										</form>
								</div>
                <div class="col-lg-3"></div>
							</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal" >ปิด</button>
								<button type="button" class="btn btn-success" data-dismiss="modal" onclick="actioncus('{{customer.id}}','money')">บันทึกข้อมูล</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
{% endfor %}
