<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">
<link href="css/roomconsole.css" rel="stylesheet">
<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">ห้องพัก</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-12">
				<div class="panel panel-default">
						<div class="panel-heading">
								รายละเอียดห้องพัก
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
								<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
										<thead>
											<tr>
													<th >ชั้น</th>
													<th >หมายเลขห้อง</th>
													<th >ค่าเช่า</th>
													<th>สถานะ</th>
													<th >ปุ่มควบคุม</th>
											</tr>
										</thead>
										<tbody>
											{% if qryroom != None %}
											{% for item in qryroom %}
												{% if item.status == "1" %}
												<tr class="success">
													<td align="center" >
													{{item.floor}}
													</td>
													<td align="center" class="text-success">
													{{item.numroom}}
													</td>
													<td align="center" >
													{{item.rent}}
													</td>
													{% if item.used != 0 %}
													<td align="center" class="text-danger">
														มีผู้อาศัย
													</td>
													{% else %}
													<td align="center" class="text-success">
														ห้องว่าง
													</td>
													{% endif %}
													<td align="center">
														<button class="btn btn-info" data-toggle="modal" data-target="#myModal{{item.id}}">แก้ไข</button>
														{% if item.used != 0 %}
														<button class="btn btn-warning" data-toggle="modal" data-target="#modelmove{{item.id}}">ย้ายห้อง</button>
														{% else %}
														<button class="btn btn-danger" onclick="actionroom('{{item.id}}','c')">ปิด</button>
														{% endif %}

													</td>
												</tr>
												{% else %}

												<tr class="danger">
													<td align="center" >
													<del>{{item.floor}}</del>
													</td>
													<td align="center" class="text-danger">
													<del>{{item.numroom}}</del>
													</td>
													<td align="center" >
													<del>{{item.rent}}</del>
													</td>
													{% if item.used != 0 %}
													<td align="center" class="text-danger">
														<del>มีผู้อาศัย</del>
													</td>
													{% else %}
													<td  align="center" class="text-success">
														<del>ห้องว่าง</del>
													</td>
													{% endif %}
													<td align="center">
														<button class="btn btn-success" onclick="actionroom('{{item.id}}','c')">Open</button>
													</td>
												</tr>
										 		{% endif%}

											{% endfor %}
											{% endif%}
										</tbody>
								</table>
								<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
</div>
<br>
<button onclick="newroom()" class="btn btn-primary">เพิ่มห้องพักใหม่</button>
{% for item in qryroom %}
<div class="modal fade" id="myModal{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<center>
									<h4 class="modal-title" id="myModalLabel" >ห้อง {{item.numroom}}</h4>
								</center>
						</div>
						<div class="modal-body">
							<div class="row">
									<div class="col-lg-12">
												<div class="col-lg-3"></div>
												<div class="col-lg-6">
													<form id = id{{item.id}}>
														<div class="form-group">
															<label>เลขห้อง</label>
															<input class="form-control" id="noroom" name="noroom"value="{{item.numroom}}">
														</div>
														<div class="form-group">
															<label>ชั้น</label>
															<input class="form-control" id="floor" name="floor" value="{{item.floor}}">
														</div>
														<div class="form-group">
															<label>ค่าเช่า</label>
															<input class="form-control" id="rentroom" name="rentroom" value="{{item.rent}}">
														</div>
														<div class="form-group">
															<label>ผู้ใช้สูงสุด</label>
															<select class="form-control" id="maxuse" name="maxuse">
																{% for i in range(1,6) %}
																	{% if item.maxused == i %}
																		<option value="{{i}}" selected>{{i}}</option>
																	{% else %}
																		<option value="{{i}}" >{{i}}</option>
																	{% endif %}
																{% endfor %}
															</select>
														</div>
													</form>
												</div>
												<div class="col-lg-3"></div>
									</div>
							</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
								<button type="button" class="btn btn-success" data-dismiss="modal" onclick="actionroom('{{item.id}}','e')">บันทึกข้อมูล</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
{% endfor %}
{% for item in qryroom %}
<div class="modal fade" id="modelmove{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<center>
									<h4 class="modal-title" id="myModalLabel" >ห้อง {{item.numroom}}</h4>
								</center>
						</div>
						<div class="modal-body">
							<div class="row">
									<div class="col-lg-12">
												<div class="col-lg-6">
														<div class="form-group">
															<label>จากห้อง</label>
															<input class="form-control" id="noroom" name="noroom"value="{{item.numroom}}" disabled>
														</div>
												</div>
												<div class="col-lg-6">
													<form id = movid{{item.id}}>
														<div class="form-group">
															<label>ไปห้อง</label>
															<select class="form-control" name="newroom">
																{% for iitem in qryroom %}
																	{% if iitem.id != item.id %}
																	<option value="{{iitem.id}}">
																		{{iitem.numroom}}
																	</option>
																	{% endif %}
																{% endfor %}
															</select>
														</div>

													</form>
												</div>
									</div>
							</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
								{% if (qryroom|length)-1 == 0 %}
								<button type="button" class="btn btn-success disabled" data-dismiss="modal"  >บันทึกข้อมูล</button>
								{% else %}
								<button type="button" class="btn btn-success" data-dismiss="modal"  onclick="actionroom('{{item.id}}','m')">บันทึกข้อมูล</button>
								{%endif%}
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
{% endfor %}
