<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">
<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">บริการ</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-12">
				<div class="panel panel-default">
						<div class="panel-heading">
								บริการในหอพัก
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
								<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
										<thead>
											<tr>
													<th >สถานะ</th>
													<th >ชื่อบริการ</th>
													<th >ราคา</th>
													<th>ประเภท</th>
													<th >ปุ่มควบคุม</th>
											</tr>
										</thead>
										<tbody>
											{% for service in qrysevice%}
												{% if service.status == 1%}
													<tr class="success">
														<td align="center" class="text-success">
														เปิดใช้งาน
														</td>
												{% else %}
												<tr class="danger">
													<td align="center" class="text-danger">
														ปิดใช้งาน
													</td>
												{% endif %}
												<td align="center">
													{{service.name}}
												</td>
												<td align="center">
													หน่วยละ {{service.price}}
												</td>
												{% if service.type == 1 %}
												<td align="center">
													รายเดือน (เหมาจ่าย)
												</td>
												{% elif service.type == 0 %}
												<td align="center">
													รายเดือน (กรอกหน่วย)
												</td>
												{% elif service.type == 3 %}
												<td align="center">
													กรอกจำนวนเงิน
												</td>
												{% else %}
												<td align="center">
													รายครั้ง
												</td>
												{% endif %}
												{% if service.status == 1%}
												<td align="center">
													<button class="btn btn-info" data-toggle="modal" data-target="#sermo{{service.id}}">แก้ไข</button>    <button class="btn btn-danger" onclick="actionservice('{{service.id}}','c')">ปิดใช้บริการ</button>
												</td>
												{% else %}
												<td align="center">
													<button class="btn btn-success" onclick="actionservice('{{service.id}}','c')">เปิดใช้บริการ</button>
												</td>
												{% endif %}

											</tr>
											{% endfor %}
										</tbody>
								</table>
								<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
</div>
<br>
<button onclick="actionservice('','a')" class="btn btn-primary">เพิ่มบริการใหม่</button>

{% for service in qrysevice %}
<div class="modal fade" id="sermo{{service.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<center>
									<h4 class="modal-title" id="myModalLabel" >{{service.name}}</h4>
								</center>
						</div>
						<div class="modal-body">
							<div class="row">
									<div class="col-lg-12">
												<div class="col-lg-3"></div>
												<div class="col-lg-6">
													<form id = "idser{{service.id}}">
														<div class="form-group">
															<label>ชื่อบริการ </label>
															<input class="form-control" id="noroom" name="newname"value="{{service.name}}">
														</div>
														<div class="form-group">
															<label>ประเภท</label>

															<select class="form-control" name="newstype">
																{% if service.type == 0 %}
																<option value="0" selected>รายเดือน (กรอกหน่วย)</option>
																<option value="1">รายเดือน (เหมาจ่าย)</option>
																<option value="2">รายครั้ง</option>
																<option value="3">กรอกจำนวนเงิน</option>
																{% elif service.type == 1 %}
																<option value="0">รายเดือน (กรอกหน่วย)</option>
																<option value="1" selected>รายเดือน</option>
																<option value="2" >รายครั้ง</option>
																<option value="3">กรอกจำนวนเงิน</option>
																{% elif service.type == 2 %}
																<option value="0">รายเดือน (กรอกหน่วย)</option>
																<option value="1" >รายเดือน</option>
																<option value="2" selected>รายครั้ง</option>
																<option value="3">กรอกจำนวนเงิน</option>
																{% else %}
																<option value="0">รายเดือน (กรอกหน่วย)</option>
																<option value="1" >รายเดือน</option>
																<option value="2" >รายครั้ง</option>
																<option value="3" selected>กรอกจำนวนเงิน</option>
																{% endif %}
															</select>
														</div>
														<div class="form-group">
															<label>ราคาต่อหน่วย</label>
															<input class="form-control" id="floor" name="newprice" value="{{service.price}}">
														</div>

													</form>
												</div>
												<div class="col-lg-3"></div>
									</div>
							</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
								<button type="button" class="btn btn-success" data-dismiss="modal" onclick="actionservice('{{service.id}}','e')">บันทึกข้อมูล</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
{% endfor %}
