<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">บันทึกค่าบริการรายเดือน</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				รายชื่อห้องในหอพัก
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
					<thead>
						<tr>
							<th>สถานะ</th>
							<th>ห้อง</th>
							<th>ปุ่มควบคุม</th>
						</tr>
					</thead>
					<tbody>
						{% if qryroom != None %}
						{% for item in qryroom %}

						{% if item.submit_payment == 0 %}
						<tr class="danger">
							<td align="center">ยังไม่บันทึก</td>
							<td align="center">{{item.numroom}}</td>
							<td align="center">
								<button class="btn btn-info" data-toggle="modal" data-target="#submitroom{{item.id}}">บันทึกข้อมูล</button>
							</td>
						</tr>
						{% elif item.submit_payment == 1 %}
						<tr class="success">
							<td align="center">บันทึกแล้ว</td>
							<td align="center">{{item.numroom}}</td>
							<td align="center">
								<button class="btn btn-warning" data-toggle="modal" data-target="#submitfixroom{{item.id}}">แก้ไข</button>
							</td>
						</tr>
						{% endif %}
						{% endfor %}
						{% else %}
						<tr>
							<td>NO</td>
							<td>NO</td>
							<td>NO</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				<!-- /.table-responsive -->

			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>

{% for room in qryroom %}
{% if room.submit_payment == 1 %}

<div class="modal fade" id="submitfixroom{{room.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<center>
					<h4 class="modal-title" id="myModalLabel" >ห้อง {{room.numroom}}</h4>
				</center>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">

							<div class="col-lg-3"></div>
							<div class="col-lg-6">
								<form id = "idformfixroom{{room.id}}">
								{% for service in qryser %}
								{% if service.type == 0 %}
									<div class="form-group">
										<label>{{service.name}} (จำนวนหน่วย)</label>
										<input class="form-control" id="noroom" name="{{service.id}}"
										{% for list in listpayment %}
											{% if (list.serviceid == service.id) and (list.in_room == room.id ) %}
												 value="{{list.price}}"
												{% break %}
											{% else %}
												{% if loop.index == loop.lenth %}
												 value="999"
												{% endif %}
											{% endif %}
										{% endfor %}
										>
									</div>
								{% else %}
									<div class="form-group">
										<label>

										<input type="checkbox" name="{{service.id}}" value="True"
										{% for list in listpayment %}
											{% if list.serviceid == service.id and list.in_room == room.id %}
											checked=""
											{%break%}
											{% endif %}
										{% endfor %}> {{service.name}}
										</label>
									</div>
								{% endif %}
								{% endfor %}
								</form>
							</div>

							<div class="col-lg-3"></div>

					</div>
				</div>
			</div>
			<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
					<button type="button" class="btn btn-success" data-dismiss="modal" onclick="actionroom('{{room.id}}','fix_payment')">บันทึกข้อมูล</button>
			</div>

		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>

	{% elif room.submit_payment == 0 %}

	<div class="modal fade" id="submitroom{{room.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<center>
						<h4 class="modal-title" id="myModalLabel" >ห้อง {{room.numroom}}</h4>
					</center>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">

								<div class="col-lg-3"></div>
								<div class="col-lg-6">
									<form id = "idformfixroom{{room.id}}" >
									{% for service in qryser %}
										{% if service.type == 0 %}
										<div class="form-group">
											<label>{{service.name}} (จำนวนหน่วย)</label>
											<input class="form-control" id="noroom" name="{{service.id}}" value="0">
										</div>
										{% else %}
										<div class="form-group">
											<label>
												<input type="checkbox" name="{{service.id}}" value="True"> {{service.name}}
											</label>
										</div>
										{% endif %}
									{% endfor %}
									</form>
								</div>
								<div class="col-lg-3"></div>

						</div>
					</div>
				</div>
				<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">ปิด</button>
						<button type="button" class="btn btn-success" data-dismiss="modal" onclick="actionroom('{{room.id}}','submit_payment')">บันทึกข้อมูล</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	{% endif %}
{% endfor %}
