<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="js/script.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script><!-- Add JQuery library -->
	<script src="js/jquery.min.js"></script>
	<script src="js/script.js"></script>
	<!-- Bootstrap Core JavaScript -->







{% if func == "service" %}
{% include '/templates/consoleser.html' %}


{% elif func == "room" %}
{% include '/templates/consoleroom.html' %}

{% elif func == "cus" %}
{% include '/templates/consolecus.html' %}

{% elif func == "pay_day" %}
{% include '/templates/consolemonthservice.html' %}

{% elif func == "profile" %}
{% include '/templates/settingprofile.html' %}

{% elif func == "accountmonth" %}
{% include '/templates/accountmonth.html' %}

{% elif func == "accountmonthedit" %}
{% include '/templates/accountmonthedit.html' %}

{% elif func == "invoice" %}
{% include '/templates/invoiceroom.html' %}

{% endif %}
