<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
function writeNewPost() {
// A post entry.


// Get a key for a new Post.
var newPostKey = firebase.database().ref().child('posts').push().key;
// Write the new post's data simultaneously in the posts list and the user's post list.
var updates = {};
updates['/posts/' + newPostKey] = "444";
// Write the new post's data simultaneously in the posts list and the user's post list.
//updates['/Test/amount'] =50;

firebase.database().ref().update(updates);
return window.location.assign("/regis?error=PASS");
}
</script>
