
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script><!-- Add JQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script src="js/firebase.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/script.js"></script>
<script src="js/scriptfix.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="js/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript
<script src="js/raphael.min.js"></script>
<script src="js/morris.min.js"></script>
<script src="js/morris-data.js"></script>
-->
<!-- Custom Theme JavaScript -->
<script src="js/sb-admin-2.js"></script>
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="css/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/sb-admin-2.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<link href="css/morris.css" rel="stylesheet">
<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- DataTables JavaScript -->
<script src="js/jquery.dataTables.min.js"></script>
<script src="js/dataTables.bootstrap.min.js"></script>
<script src="js/dataTables.responsive.js"></script>




<script type="text/javascript" src="js/script.js">

</script>
<input type="hidden" id="usernamehid" value="{{ iduser }}"/>

<div id="wrapper">

  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" >{{ name }}</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <li><img src="img/Logo512.png" width="50" height="50"></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
          <li><a href="#" id="userprofile"><i class="fa fa-user fa-fw"></i>ข้อมูลผู้ใช้</a>
          </li>
          <li><a href="#" id="accountmonth"><i class="fa fa-bank fa-fw"></i>สรุปบัญชีรายรับ-จ่าย ประจำเดือน</a>
          </li>
          <li class="divider"></li>
          <li><a href="/weblogout"><i class="fa fa-sign-out fa-fw"></i>ออกจากระบบ</a>
          </li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

          <li>
            <a href="/" id="dashboard"><i class="fa fa-dashboard fa-fw"></i>หน้าแรก</a>
          </li>

          <li>
            <a href="#" id="menu-regis"><i class="fa fa-edit fa-fw"></i>เพิ่มลูกค้าใหม่</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-gear fa-fw"></i>ส่วนควบคุม<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="#" id="conser">บริการ</a>
              </li>
              <li>
                <a href="#" id="conroom">ห้องพัก</a>
              </li>
              <li>
                <a href="#" id="concus">ลูกค้า</a>
              </li>

            </ul>
            <!-- /.nav-second-level -->
          </li>
          {% if pay_day == "YES" or check_submit|length != 0%}
          <li>
            <a href="#" id="pay_day"><i class="fa fa-money fa-fw"></i>บันทึกค่าบริการรายเดือน</a>
          </li>
          {% endif %}
          <li>
            <a href="#" id="fixreport"><i class="fa fa-wrench fa-fw"></i>แจ้งซ่อม</a>
          </li>
          {% if pay_day == "NO" %}
          <li>
            <a href="#" id="invoice"><i class="fa fa-file fa-fw"></i>บิลใบเสร็จ</a>
          </li>
          {% endif %}
          
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>

    <!-- /.navbar-static-side -->
  </nav>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);
      
    // $(function(){
    //     $("#catlist").change(function() {
    //       var data = new google.visualization.DataTable();
    //       data.addColumn('string', 'Day');
    //       data.addColumn('number', 'รายรับ');
    //       data.addColumn('number', 'รายจ่าย');

    //       data.addRows([
    //         ["1/2",   8.8, 13.6],
    //         ["2/2",   7.6, 12.3],
    //         ["3/2",  12.3, 29.2],
    //         ["4/2",  16.9, 42.9],
    //         ["5/2", 12.8, 30.9],
    //         ["6/2",  5.3,  7.9],
    //         ['7/2',  6.6,  8.4],
    //         ['8/2',  4.8,  6.3],
    //         ['9/2',  4.2,  6.2],
    //         ['10/2',  37.8, 80.8],
    //         ['11/2',  30.9, 69.5],
    //         ['12/2',  25.4,   57]
            
    //       ]);

    //       var options = {
    //         backgroundColor: '#dcfbff',
    //         chart: {
    //           title: 'สรุปรายรับ-รายจ่ายประจำปี'
    //         },
    //         width: 900,
    //         height: 500,
    //         axes: {
    //           x: {
    //             0: {side: 'top'}
    //           }
    //         }
    //       };

    //       var chart = new google.charts.Line(document.getElementById('line_top_x'));

    //       chart.draw(data, google.charts.Line.convertOptions(options));
    //         });
    //     });  
        function drawChart() {

          
          $.ajax({
                 type: "GET",
                 dataType: "json",
                 url: '/graphyear',
                 success: function(jsondata) {
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'เดือน/ปี');
                    data.addColumn('number', 'รายรับ');
                    data.addColumn('number', 'รายจ่าย');
                    data.addRows(jsondata);
                    var options = {
                      backgroundColor: '#dcfbff',
                      legend:'left',
                      chart: {
                        title: 'สรุปรายรับ-รายจ่ายประจำปี'
                      },
                      width: 900,
                      height: 500,
                      axes: {
                        x: {
                          0: {side: 'top'}
                        }
                      }
                    };

                    var chart = new google.charts.Line(document.getElementById('line_top_x'));

                    chart.draw(data, google.charts.Line.convertOptions(options));
                 }
            });  

    //       // data.addRows([
    //       //   ["1/2",   8.8, 13.6],
    //       //   ["2/2",   7.6, 12.3],
    //       //   ["3/2",  12.3, 29.2],
    //       //   ["4/2",  16.9, 42.9],
    //       //   ["5/2", 12.8, 30.9],
    //       //   ["6/2",  5.3,  7.9],
    //       //   ['7/2',  6.6,  8.4],
    //       //   ['8/2',  4.8,  6.3],
    //       //   ['9/2',  4.2,  6.2],
    //       //   ['10/2',  37.8, 80.8],
    //       //   ['11/2',  30.9, 69.5],
    //       //   ['12/2',  25.4,   57]
    //       // ]);

          

    //       // var chart = new google.charts.Line(document.getElementById('line_top_x'));

    //       // chart.draw(data, google.charts.Line.convertOptions(options));
    }
  </script>
<script src = "js/test.js"></script>
<script>
// window.onload = function()
// {
//   $('#dataTables-example').DataTable({
//     responsive: true
//   });
  
// }
function showdatatable()
{
  $('#dataTables-example').DataTable({
    responsive: true
  });
  //alert("PASS");
}
$("#menu-regis").click(function() {
  //alert("PASS");
  linkregis();
});

$("#conser").click(function() {
  //alert("PASS");
  mainconsole('service');
  showdatatable();
});
$("#conroom").click(function() {
  //alert("PASS");
  mainconsole('room');
  showdatatable();
});
$("#concus").click(function() {
  //alert("PASS");
  mainconsole('cus');
  showdatatable();
});
$("#pay_day").click(function() {
  //alert("PASS");
  mainconsole('pay_day');
  showdatatable();
});

$("#userprofile").click(function() {
  //alert("PASsssS");
  mainconsole('profile');
  showdatatable();
});
$("#accountmonth").click(function() {
  mainconsole("accountmonth");
  showdatatable();
  $('#dataTables-example2').DataTable({
    responsive: true
  });
  /*mainconsole('cus','{{ id }}');
  showdatatable();*/
});
$("#invoice").click(function() {
  mainconsole("invoice");
  showdatatable();
  /*mainconsole('cus','{{ id }}');
  showdatatable();*/
});
$("#fixreport").click(function() {
  showfix();
  showdatatable();
  /*mainconsole('cus','{{ id }}');
  showdatatable();*/
});
</script>
