<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">
<link href="css/roomconsole.css" rel="stylesheet">

<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">บิลใบแจ้งหนี้</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-12">
				<div class="panel panel-default">
						<div class="panel-heading">
                            รายการห้องพัก
						</div>
						<!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>ห้อง</th>
                                            <th>ปุ่มคำสั่ง</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in roomlist %}
                                        <tr>
                                            <td><center>{{item.numroom}}</center></td>
                                            <td><center>
                                                <a href="/invoice?id={{item.id}}" class="btn btn-warning" target="_blank">ใบแจ้งหนี้</a></center></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>

						<!-- /.panel-body -->

				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
</div>

<br>
