
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">หน้าแรก</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-male fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{cus_q|length}}</div>
                        <div>ลูกค้า</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-hotel fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{room_q|length}}</div>
                        <div>ห้องว่าง</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-lightbulb-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{ser_q|length}}</div>
                        <div>บริการ</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-wrench fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{fix_q|length}}</div>
                        <div>รายงานแจ้งซ่อม</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--<div class="col-lg-12">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                <select class="form-control" id ="catlist">
                    <option>1</option>
                    <option>2</option>
                </select>
                </div>
                <div class="col-lg-4"> 
                </div>
            </div>
        </div>
    </div>-->
    
    <div class="col-lg-12">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                     <div id="line_top_x"></div>
                </div>
            </div>
        </div>
    </div>             
</div>


