<!DOCTYPE html>
<html>
<head>
	<title>MoveRoom</title>
</head>
<script type="text/javascript" src="js/script.js"></script>
<link href="css/style.css" rel="stylesheet">
<body>
จาก {{roomid}} ย้ายไปยัง --->
<select id ="senextroom">
	<option>----------</option>
{% for item in roomempty %}
	<option value="{{item.roomid}}">{{item.numroom}}</option>
{% endfor %}
</select>

<button onclick="moveroom()" class="button-table-green">ย้ายห้อง</button><br>
<input type="hidden" name="" id ="aprtid" value="{{aprtid}}">
<input type="hidden" name="" id ="roomid" value="{{roomid}}">
</body>
</html>
