<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">New Room</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-3">
				<div class="panel panel-default">
						<div class="panel-heading" >
							New Room
						</div>
						<div class="panel-body">
								<div class="row">
										<div class="col-lg-12">
															<div class="form-group">
																	<label>เลขห้อง / No.Room</label>
																	<input class="form-control" id="noroom" required>
															</div>
															<div class="form-group">
																	<label>ชั้น / floor</label>
																	<input class="form-control" id="floor" required>
															</div>
															<div class="form-group">
																	<label>ค่าเช่า / Rent</label>
																	<input class="form-control" id="rentroom" required>
															</div>
															<div class="form-group">
																	<label>ผู้ใช้สูงสุด / Max.Used</label>
																	<select class="form-control" id="maxuse">
                                                <option value="1">1</option>
                                                <option selected value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                  </select>
															</div>
										</div>
										<div class="col-lg-3">
											<button type="submit" class="btn btn-success" onclick="submitnewroom('{{id}}')">Submit</button>
										</div>
										</div>
								</div>
					</div>
				</div>
		</div>
