<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">บริการใหม่</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-3">
				<div class="panel panel-default">
						<div class="panel-heading" >
							เพิ่มบริการใหม่
						</div>
						<div class="panel-body">
								<div class="row">
										<div class="col-lg-12">
															<div class="form-group">
																	<label>ชื่อบริการ</label>
																	<input class="form-control" id="nameser" >
															</div>
															<div class="form-group">
																	<label>ประเภท</label>
																	<select class="form-control" id="stype">
																		<option value="0">รายเดือน (กรอกหน่วย)</option>
																		<option value="1">รายเดือน (เหมาจ่าย)</option>
																		<option value="2">รายครั้ง</option>
																		<option value="3">กรอกจำนวนเงิน</option>
																	</select>
															</div>
															<div class="form-group">
																	<label>ราคาต่อหน่วย</label>
																	<input class="form-control" id="price" value="0">
															</div>


										</div>
										<div class="col-lg-12">
											<div class="col-lg-4">
												<br>
											</div>
											<div class="col-lg-4">
												<center>
												<button type="submit" class="btn btn-success" onclick="actionservice('','n')">Submit</button>
											</center>
											</div>
											<div class="col-lg-4">

											</div>
										</div>

										</div>
								</div>
					</div>
				</div>
		</div>
