
  <div class="row">
    {% if room|length == 0 %}
        <div class="col-lg-12 alert alert-danger">
        <h1 class="page-header text-warning">กรุณาเพิ่มห้องก่อน</h1>
    {% else %}
        {% if error == "1" %}
          <h1 class="page-header text-warning">Username ถูกใช้งานแล้ว</h1>
          {% elif error == "2" %}
          <h1 class="page-header text-danger">รหัสไม่ถูกต้อง</h1>
          <p class="text-danger"></p>
          {% elif error == "PASS" %}
          <h1 class="page-header text-success">ลงทะเบียนเสร็จสิ้น</h1>
          <p class="text-success"></p>
          {% else %}
          <h1 class="page-header">ลงทะเบียนใหม่</h1>
        {% endif %}
    {% endif %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    {% if room|length != 0 %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" >
                  <p class="text-success">ลูกค้าใหม่</p>
                </div>
                <div class="panel-body">
                    <div class="row">
                      <form role="form">
                          <div class="col-lg-4">
                                <div class="form-group">
                                    <label>ยูสเซอร์เนม</label>
                                    <input class="form-control" id="login__username" placeholder="Enter Username" required>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>รหัสผ่าน</label>
                                        <input class="form-control" id="login__password" placeholder="Enter Paswword"  value = "123456" readonly>
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>ยืนยันรหัสผ่าน</label>
                                        <input class="form-control" id="login__repassword" placeholder="Enter Re-Password" type="password" value = "123456" readonly>
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>ชื่อ</label>
                                        <input class="form-control" id="firstname" placeholder="Enter Firstname" >
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>ชื่อสกุล</label>
                                        <input class="form-control" id="lastname" placeholder="Enter Lastname">
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>ชื่อเล่น</label>
                                        <input class="form-control" id="nickname" placeholder="Enter Nickname" >
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>เบอร์โทรศัพท์</label>
                                        <input class="form-control" id="telephone" placeholder="Enter Tel">
                                    </div>
                            </div>
                            <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>ที่อยู่</label>
                                        <input class="form-control" id="address" placeholder="Enter Address">
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>วันเดือนปีเกิด</label>
                                        <input class="form-control" type="date" id="birth" max="2100-01-02" min="1979-12-31">
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>รูปบัตรประชาชน</label>
                                        <input type="file" id="picid" />
                                    </div>
                            </div>
                            <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>ห้อง</label>
                                        <select id= "selectroom"class="form-control">
                                          {% for item in room %}
                                              {% if item.maxused > item.used %}
                                                  <option value="{{item.id}}">{{item.numroom}}</option>
                                              {% endif %}
                                          {% endfor %}
                                        </select>
                                    </div>
                            </div>

                      </form>
                      <div class="col-lg-2">
                        {% for item in room %}
                            {% if item.maxused > item.used %}
                              <button type="submit" class="btn btn-success" onclick="regisnew()">Submit</button>
                              {% break %}
                            {% else %}
                              {%if loop.index == loop.length%}
                              <button type="submit" class="btn btn-success disabled" onclick = "cnewroom()">Submit</button>
                              {% endif %}

                            {% endif %}
                        {% endfor %}

                      </div>
                    </div>
                  </div>
            </div>
        </div>
  {% endif %}
