

<div class="site__container">
    <div class="grid__container">

        <form action="/regisnew" method="post" class="form form--login">
        <H1 style="color:red">Users is already</H1>
        	<div class="form__field">
                <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
                <input id="login__username" type="text" class="form__input" name="username" placeholder="Username" required >
            </div>

            <div class="form__field">
                <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
                <input id="login__password" type="password" class="form__input" name="password" placeholder="Password" required minlength="6">
            </div>
            <div class="form__field">
                <label class="fontawesome-lock" for="login__password"><span class="hidden">RePassword</span></label>
                <input id="login__password" type="password" class="form__input" name="repassword" placeholder="Re-password" required minlength="6">
            </div>
            <div class="form__field">
        		<input type="submit" name="btn_submit" value="Sign Up"><input type="hidden" name="apartmentid" value = "0001">
        	</div>
        </form>
        <a href="/">Back to Login</a>
    </div>
</div>

