<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">
<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">แจ้งซ่อม</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-12">
				<div class="panel panel-default">
						<div class="panel-heading">
								รายการการแจ้งซ่อม
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
								<table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
										<thead>
											<tr>
													<th >สถานะ</th>
                          <th >วันที่แจ้ง</th>
													<th >รายละเอียด</th>
													<th >หมายเลขห้อง</th>
													<th >ปุ่มควบคุม</th>
											</tr>
										</thead>
										<tbody>
											{% for fix in qryfix %}
												{% if fix.status == 0%}
													<tr class="danger">
														<td align="center" class="text-danger">
														<button class="btn btn-danger btn-circle"><i class="fa fa-times"></i>
														</td>
												{% else %}
												<tr class="success">
													<td align="center" class="text-success">
                            <button class="btn btn-success btn-circle"><i class="fa fa-check"></i>
                            </button>
													</td>
												{% endif %}
                        <td align="center">
													{{fix.timestamp.strftime('%d-%m-%Y')}}
												</td>
												<td align="center">
													{{fix.description}}
												</td>
												<td align="center">
													{% for i in qryroom %}
														{% if fix.in_roomid == i.id %}
														{{i.numroom}}
														{% break %}
														{% endif %}
													{% endfor %}
												</td>
												{% if fix.status == 0%}
												<td align="center">
													<button class="btn btn-success" onclick="successfix('{{fix.id}}')">ซ่อมแล้วเสร็จ</button>
												</td>
												{% else %}
												<td align="center">
													กำลังดำเนินการ
												</td>
												{% endif %}

											</tr>
											{% endfor %}
										</tbody>
								</table>
								<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
</div>
<br>

</div>
