<link href="css/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="css/dataTables.responsive.css" rel="stylesheet">
<link href="css/roomconsole.css" rel="stylesheet">
<div class="row">
		<div class="col-lg-12">
				<h1 class="page-header">ข้อมูลผู้ใช้</h1>
		</div>
		<!-- /.col-lg-12 -->
</div>
<div class="row">
		<div class="col-lg-6">
				<div class="panel panel-default">
						<div class="panel-heading">
								ข้อมูลผู้ใช้
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
              <div class="col-lg-12">
									{% for admin in qryadmin %}
                    <div class="col-lg-12">


                        <div class="form-group">
                          <label>ชื่อ</label>
                          <input class="form-control" disabled="" id="noroom" name="newfname"value="{{ admin.name }}">
                        </div>
                        <div class="form-group">
                          <label>username</label>
                          <input class="form-control" disabled="" id="noroom" name="newlname"value="{{ admin.users }}">
                        </div>
                    </div>
										<button class="btn btn-warning" data-toggle="modal" data-target="#profile{{admin.id}}">เปลี่ยนรหัสผ่าน</button>
                  {% endfor %}
              </div>
								<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
		</div>
		<!-- /.col-lg-12 -->
</div>
<br>

{% for admin in qryadmin %}
<div class="modal fade" id="profile{{admin.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<center>
									<h4 class="modal-title" id="myModalLabel" >ชื่อผู้ใช้ : {{admin.users}}</h4>
								</center>
						</div>
						<div class="modal-body">
							<div class="row">
                <div class="col-lg-3"></div>
								<div class="col-lg-6">
											<form id = "profileid{{admin.id}}">
											<div class="col-lg-12">
													<div class="form-group">
														<label>รหัสเดิม</label>
																<input class="form-control" type="password" id="money" name="oldpass">
													</div>
													<div class="form-group">
														<label>รหัสใหม่</label>
																<input class="form-control" type="password"  id="money" name="newpass">
													</div>
													<div class="form-group">
														<label>ยืนยันรหัสใหม่</label>
																<input class="form-control" type="password"  id="money" name="renewpass">
													</div>
											</div>
										</form>
								</div>
                <div class="col-lg-3"></div>
							</div>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-dismiss="modal" >ปิด</button>
								<button type="button" class="btn btn-success" data-dismiss="modal" onclick="changepass('{{admin.id}}','{{admin.in_apartmentid}}')">เปลี่ยนรหัสผ่าน</button>
						</div>
				</div>
				<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
</div>
{% endfor %}
